h1,
h2 {
  margin: 2rem auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #28a745;
}

main {
  margin: 35px;
}

footer {
  color: #ffffff;
  background-color: rgb(112, 111, 111);
  padding: 20px 0;
  margin: 30px 0;
}

/*-- cart related CSS --*/
.cart {
  padding: 6px;
  background-color: #28a745;
  margin: 0 0 0 10px;
  border-radius: 5px;
}

.badge {
  color: #ffffff;
}

.fa-shopping-cart {
  padding: 5px;
  color: #ffffff;
}

/*-- products related CSS --*/
.card {
  margin: 2rem;
}

.card-body a {
  text-align: center;
}

#allCourses,
#bestCourses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem auto;
}

/* page product detailled */
#detailsProduct {
  padding: 5rem 3rem;
  display: flex;
  justify-content: center;
}

#imgDet {
  width: 600px;
  margin: 2rem;
}
#prodDet {
  width: 600px;
  margin: 2rem;
}
#prodDet ul {
  padding-inline-start: 0;
}

/* Form signup / login style */
#signup,
#login {
  width: 400px;
  margin: 7% 50%;
  transform: translateX(-50%);
  text-align: center;
  border: 2px solid rgb(33, 197, 0);
  border-radius: 5px;
  padding: 1rem 3rem;
  display: inline-block;
  box-shadow: -1px -1px 10px 4px rgba(158, 158, 158, 1);
  background-color: white;
}
#signup input,
#login input {
  text-align: center;
  display: block;
  margin: 0.5rem auto;
  border-radius: 2px;
  padding: 0.2rem;
  width: 200px;
}
#signup small,
#login small {
  color: red;
  display: block;
}
#signup strong,
#login strong {
  color: green;
}

/* the end of the form style */
